<main class="container">
    <div class="genre-title">
        <h1>
            Gutenberg Project
        </h1>
        <p>A Social cateloging website that allows you to freely search its database of books, annotations, and reviews.
        </p>
    </div>

    <ul class="genre">
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Fiction')">
                    <span>
                        <img src="./../../../assets/Fiction.svg" alt="Fiction" class="icon">
                    </span>
                    <span>FICTION</span>
                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>

                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Drama')">
                    <span>
                        <img src="./../../../assets/Drama.svg" alt="Drama" class="icon">
                    </span>
                    <span>DRAMA</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Humour')">
                    <span>
                        <img src="./../../../assets/Humour.svg" alt="Humour" class="icon">
                    </span>
                    <span>HUMOUR</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Politics')">
                    <span>
                        <img src="./../../../assets/Politics.svg" alt="Politics" class="icon">
                    </span>
                    <span>POLITICS</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Philosophy')">
                    <span>
                        <img src="./../../../assets/Philosophy.svg" alt="Philosophy" class="icon">
                    </span>
                    <span>PHILOSOPHY</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('History')">
                    <span>
                        <img src="./../../../assets/History.svg" alt="History" class="icon">
                    </span>
                    <span>HISTORY</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
        <li class="genre-item">
            <div class="genre-card">
                <div (click)="onClickOfCategory('Adventure')">
                    <span>
                        <img src="./../../../assets/Adventure.svg" alt="Adventure" class="icon">
                    </span>
                    <span>ADVENTURE</span>

                    <span class="next">
                        <img src="./../../../assets/Next.svg" alt="Next">
                    </span>
                </div>
            </div>
        </li>
    </ul>
</main>