<div class="container">
    <div id="div-header">
        <div class="header">
            <img src="./../../../assets/Next.svg" class="prev-img" alt="Back" (click)="onClickBackBookCategory()">
            <h4> {{bookCategoryName}}</h4>
        </div>
        <div class="input-group">
            <div class="input-box">
                <span class="icon">
                    <img src="./../../../assets/Search.svg" alt="Next" class="img-search">
                </span>
                <input type="text" #search class="input-search form-control" id="inlineFormInputGroup"
                    onfocus="this.placeholder=''" onblur="this.placeholder='Search'" placeholder="Search">
                <span class="icon" *ngIf="search.value">
                    <img src="./../../../assets/Cancel.svg" alt="Next" class="search-cancel" (click)="clearSearchBox()">
                </span>
            </div>
        </div>
    </div>

    <div id="div-list">
        <div class="list-screen">
            <div class="infinite-scroll" infinite-scroll [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
                (scrolled)="onScrollDown()">
                <ng-container *ngFor="let book of bookList">
                    <div class="book-card" (click)="onClickDocumentOpen(book)">
                        <img [src]="book.formats['image/jpeg']" alt="Not Found"
                            onerror="this.onerror=null; this.src='./../../../assets/Cancel.svg'"
                            class="rectangle" />
                        <h6  title={{book.title}} class="title-elipsis book-author-name">{{book.title | uppercase}}</h6>
                        <h6 class="author book-author-name">{{book.authors[0]?.name}}</h6>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>